@import ../layout

.fruit-cube
  @include breakpoint(lg)
    position: relative
    width: 100%
    height: 250px
    margin-top: 47px
    max-width: none
    overflow: hidden
  &__controlbar
    display: none
    @include breakpoint(lg)
      display: flex
      justify-content: center
      + div
        margin-top: 24px
    .control-option
      width: 66px
      padding: 8px 0
      color: #fff
      font-size: 16px
      font-weight: bold
      line-height: 1
      text-align: center
      background-color: #EFE6D6
      border-radius: 4px
      border: none
      cursor: pointer
      outline-color: #9D3F04
      &.active
        background-color: #E1AA00
      + .control-option
        margin-left: 14px
  &-container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @include breakpoint(lg)
      position: absolute
      display: block
      white-space: nowrap
      animation: moving 50s linear infinite
      &:hover
        animation-play-state: paused
      &.normal
        animation-duration: 70s
      &.faster
        animation-duration: 50s
      &.fast
        animation-duration: 30s

.fruit-item
  width: calc((100% - 30px) / 4)
  margin: 6px 0 0
  font-size: 15px
  font-weight: bold
  text-align: center
  background-color: rgba(255, 255, 255, 0.75)
  border-radius: 10px
  cursor: pointer
  @include breakpoint(lg)
    display: inline-block
    width: auto
    background-color: transparent
    + .fruit-item
      margin-left: 54px
  picture
    width: 60px
    height: 60px
    margin: 0 auto
    @include breakpoint(lg)
      width: 145px
      height: 145px
    img
      width: 100%
      height: 100%
      object-fit: contain
  span
    display: inline-block
    margin-top: 3px
    color: rgba(0, 0, 0, 0.87)
    @include breakpoint(lg)
      margin-top: 12px

@keyframes moving
  from
    transform: translateX(0)
  to
    transform: translateX(-50%)
