@import "../../css/base.css";

:host {
  display: block;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000928;
  width: 395px;
  height: 43px;
  border-radius: 1.5px;
  border: solid 1px #f5ebff;
  background-color: #ebf02c;
  box-shadow: 5px 5px 0px 2px rgba(0,9,40,1);
}
