* {
    margin: 0;
    padding: 0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'PingFang TC';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

#__nuxt {
    width: 100%;
}

a {
    text-decoration: none;
}

// character fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}
.fade-enter,
.fade-leave-active {
    opacity: 0;
}
